<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/q.js"></script>
    <link rel="stylesheet" href="../static/css/test.css">
</head>
<body>
<div id="sliderCaptcha" class="captcha">
{#<canvas id="test" width="300" height="200" style="position: absolute; left: 100px"></canvas>#}
{#<canvas id="test3" width="300" height="200" style="position: absolute; left: -70px"></canvas>#}
{#<canvas id="test2" width="300" height="200" style="position: absolute; left: -70px"></canvas>#}
</div>
</body>
</html>