<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header id="page_header">
    <h1>AwesomeCo Blog</h1> <!-- 页眉 -->
</header>
<section id="posts">
    <article class="post">
        <header>
            <h2>How Many Should We Put You Down For?</h2>
            <p>Posted By Brain on
            <time datetime="2013-10-01"></time>
            </p>
        </header>
        <aside>
            <section id="sidebar">
                <nav>
                    <h3>Archives</h3>
                    <ul>
                        <li><a href="#">123</a> </li>
                        <li><a href="#">123</a> </li>
                    </ul>
                </nav>
            </section>
        </aside>
        <p>
            Mr. Johnson had never been up in an aerophane before and he had read a lot about air accidents,
            His friend started the engine and began to taxi onto the runway of the airport. Mr. Johnson had heard that
    　　    After a minute or two he opened them again, looked out of the window of the plane, and said to his friend,
    　　    "Those are ants," answered his friend. "We're still on the ground."
        </p>
        <footer>
            <p><a href="#"><i>25 Comments</i></a> ...</p>
        </footer>
    </article>
</section>
<!--
<footer id="page_footer">
    <p>Copyright xxxx</p>
    <nav>
        <ul>
            <li><a href="#">home</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="#">Privacy</a> </li>
        </ul>
    </nav>
</footer>
-->
</body>
</html>